<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<!-- это GET-запрос -->
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<!--Это форма, кот. будет отправляться методом DELETE на URL @{/people/{id}(id=${person.getId()})} к Объекту ${person}-->
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <!--Кнопка для отправки формы с названием кнопки Delete-->
    <input type="submit" value="Delete"/>
</form>

</body>
</html>